@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 8, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar personalizada para el mercado */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Animación para el borde activo */
.active-step-border {
  border: 2px solid white !important;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}